<tr class="file-tr tr-dir{{id}}">
    <td>
        <input type="checkbox" class="check-box select select-dir big-check-box" value="{{id}}"/>
    </td>
    <td align="left" class="directory-name">
        <a href="#" id="{{hashName}}" class="get-dir-content">{{name}}</a>
    </td>
    <td align="right">--</td>
    <td align="right">--</td>
    <td align="right">
        <button type="button" class="btn btn-default btn-sm share-dir-btn table-btn"
                data-toggle="modal" data-target="#shareDialog" value="{{id}}">Share</button>
    </td>
</tr>