<tr class="file-tr tr-doc{{id}}">
    <td>
        <input type="checkbox" class="check-box select select-doc big-check-box" value="{{id}}"/>
    </td>
    <td align="left" class="document-name">
        <a href="/api/documents/{{id}}">{{name}}</a>
    </td>
    <td align="right">{{size}}</td>
    <td align="right" class="document-date">{{lastModifyTime}}</td>
    <td align="right">
        <a href="/api/documents/{{id}}/download"
           class="btn btn-default btn-sm custom-width download-btn table-btn">Download</a>

        <button type="button" class="btn btn-default btn-sm share-doc-btn table-btn"
                data-toggle="modal" data-target="#shareDialog" value="{{id}}">Share</button>
    </td>
</tr>